USE [dnk_24_doan_cn]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RemoveUnicode]    Script Date: 12/16/2025 1:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_RemoveUnicode](@str NVARCHAR(4000))
RETURNS NVARCHAR(4000)
AS
BEGIN
    IF @str IS NULL RETURN NULL;

    DECLARE @Accents NVARCHAR(4000) = 
       N'áàảãạâấầẩẫậăắằẳẵặđéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựýỳỷỹỵ' +
       N'ÁÀẢÃẠÂẤẦẨẪẬĂẮẰẲẴẶĐÉÈẺẼẸÊẾỀỂỄỆÍÌỈĨỊÓÒỎÕỌÔỐỒỔỖỘƠỚỜỞỠỢÚÙỦŨỤƯỨỪỬỮỰÝỲỶỸỴ';

    DECLARE @NoAccents NVARCHAR(4000) =
       N'aaaaaaaaaaaaaaaaadeeeeeeeeeeeiiiiioooooooooooooooooouuuuuuuuuuuyyyyy' +
       N'AAAAAAAAAAAAAAAAADEEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOOOOUUUUUUUUUUUYYYYY';

    DECLARE @i INT = 1;
    WHILE @i <= LEN(@Accents)
    BEGIN
        SET @str = REPLACE(@str, SUBSTRING(@Accents, @i, 1), SUBSTRING(@NoAccents, @i, 1));
        SET @i = @i + 1;
    END

    RETURN @str;
	END;
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[IdBacSi] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[ChuyenKhoa] [nvarchar](100) NULL,
	[KinhNghiem] [int] NULL,
	[MoTa] [nvarchar](500) NULL,
	[HinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSi_LichLamViec]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi_LichLamViec](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBacSi] [int] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[ThuTrongTuan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSi_NgayNghi]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi_NgayNghi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBacSi] [int] NOT NULL,
	[Ngay] [date] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[IdBenhNhan] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[CoTaiKhoan] [bit] NOT NULL,
 CONSTRAINT [PK__BenhNhan__E2B77B7636A10D41] PRIMARY KEY CLUSTERED 
(
	[IdBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuyLichLog]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuyLichLog](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[IdLichHen] [int] NULL,
	[IdBenhNhan] [int] NULL,
	[IdBacSi] [int] NULL,
	[Ngay] [datetime] NULL,
	[LyDo] [nvarchar](255) NULL,
	[NgayHuy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[IdLichHen] [int] IDENTITY(1,1) NOT NULL,
	[IdBenhNhan] [int] NOT NULL,
	[IdBacSi] [int] NOT NULL,
	[Ngay] [date] NOT NULL,
	[Gio] [time](0) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[NgayTao] [datetime] NULL,
	[NgayHuy] [datetime] NULL,
	[LyDoHuy] [nvarchar](255) NULL,
	[NguoiHuy] [nvarchar](20) NULL,
	[LyDoKham] [nvarchar](255) NULL,
	[PhieuKham] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLichHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMS_Log]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IdLichHen] [int] NULL,
	[LoaiSMS] [nvarchar](50) NULL,
 CONSTRAINT [PK__SMS_Log__3214EC075B28316F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](200) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[IdBenhNhan] [int] NULL,
	[IdBacSi] [int] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[IdThongBao] [int] IDENTITY(1,1) NOT NULL,
	[IdBenhNhan] [int] NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[DaDoc] [bit] NULL,
	[NgayGui] [datetime] NULL,
	[DaXem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[LoaiTin] [nvarchar](50) NULL,
	[NgayDang] [datetime] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BacSi] ON 

INSERT [dbo].[BacSi] ([IdBacSi], [HoTen], [ChuyenKhoa], [KinhNghiem], [MoTa], [HinhAnh]) VALUES (1, N'BS. Nguyễn Minh Hùng', N'Nội tổng quát', 10, N'Chẩn đoán nhanh, điều trị nhiều ca khó.', N'nam.jpg')
INSERT [dbo].[BacSi] ([IdBacSi], [HoTen], [ChuyenKhoa], [KinhNghiem], [MoTa], [HinhAnh]) VALUES (2, N'BS. Trần Thuỳ Linh', N'Nhi khoa', 7, N'Bác sĩ nhi tận tâm.', N'nu.jpg')
INSERT [dbo].[BacSi] ([IdBacSi], [HoTen], [ChuyenKhoa], [KinhNghiem], [MoTa], [HinhAnh]) VALUES (3, N'BS. Phạm Quốc Quang', N'Xương khớp', 12, N'Chuyên trị đau cột sống.', N'nam.jpg')
SET IDENTITY_INSERT [dbo].[BacSi] OFF
GO
SET IDENTITY_INSERT [dbo].[BacSi_LichLamViec] ON 

INSERT [dbo].[BacSi_LichLamViec] ([Id], [IdBacSi], [GioBatDau], [GioKetThuc], [ThuTrongTuan]) VALUES (1, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 2)
INSERT [dbo].[BacSi_LichLamViec] ([Id], [IdBacSi], [GioBatDau], [GioKetThuc], [ThuTrongTuan]) VALUES (2, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 3)
INSERT [dbo].[BacSi_LichLamViec] ([Id], [IdBacSi], [GioBatDau], [GioKetThuc], [ThuTrongTuan]) VALUES (3, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 4)
SET IDENTITY_INSERT [dbo].[BacSi_LichLamViec] OFF
GO
SET IDENTITY_INSERT [dbo].[BacSi_NgayNghi] ON 

INSERT [dbo].[BacSi_NgayNghi] ([Id], [IdBacSi], [Ngay], [GhiChu]) VALUES (1, 1, CAST(N'2025-11-25' AS Date), N'Nghỉ khám tổng quát')
INSERT [dbo].[BacSi_NgayNghi] ([Id], [IdBacSi], [Ngay], [GhiChu]) VALUES (2, 2, CAST(N'2025-11-22' AS Date), N'Nghỉ đột xuất')
INSERT [dbo].[BacSi_NgayNghi] ([Id], [IdBacSi], [Ngay], [GhiChu]) VALUES (3, 4, CAST(N'2025-11-29' AS Date), N'Hội thảo da liễu')
SET IDENTITY_INSERT [dbo].[BacSi_NgayNghi] OFF
GO
SET IDENTITY_INSERT [dbo].[BenhNhan] ON 

INSERT [dbo].[BenhNhan] ([IdBenhNhan], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [Email], [CoTaiKhoan]) VALUES (1, N'Nguyễn Hoàng Anh', CAST(N'1999-05-12' AS Date), N'Nam', N'Quận 1', N'0901122334', N'hoanganh@gmail.com', 1)
INSERT [dbo].[BenhNhan] ([IdBenhNhan], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [Email], [CoTaiKhoan]) VALUES (2, N'Lê Thị Thu Ngân', CAST(N'2003-09-22' AS Date), N'Nữ', N'Bình Thạnh', N'0912233445', N'thungan@gmail.com', 1)
INSERT [dbo].[BenhNhan] ([IdBenhNhan], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [Email], [CoTaiKhoan]) VALUES (3, N'Phạm Minh Khoa', CAST(N'1988-03-30' AS Date), N'Nam', N'Tân Phú', N'0938123456', N'minhkhoa@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[BenhNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[HuyLichLog] ON 

INSERT [dbo].[HuyLichLog] ([IdLog], [IdLichHen], [IdBenhNhan], [IdBacSi], [Ngay], [LyDo], [NgayHuy]) VALUES (1, 1, 1, 1, CAST(N'2025-11-21T08:00:00.000' AS DateTime), N'Bệnh nhân bận', CAST(N'2025-11-19T15:06:13.177' AS DateTime))
INSERT [dbo].[HuyLichLog] ([IdLog], [IdLichHen], [IdBenhNhan], [IdBacSi], [Ngay], [LyDo], [NgayHuy]) VALUES (2, 1, 1, 1, CAST(N'2025-11-21T08:00:00.000' AS DateTime), N'Bệnh nhân bận', CAST(N'2025-11-19T15:07:10.530' AS DateTime))
INSERT [dbo].[HuyLichLog] ([IdLog], [IdLichHen], [IdBenhNhan], [IdBacSi], [Ngay], [LyDo], [NgayHuy]) VALUES (3, 7, 2, 1, CAST(N'2025-12-05T09:00:00.000' AS DateTime), N'Bệnh nhân bận đột xuất', CAST(N'2025-11-20T13:41:35.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[HuyLichLog] OFF
GO
SET IDENTITY_INSERT [dbo].[LichHen] ON 

INSERT [dbo].[LichHen] ([IdLichHen], [IdBenhNhan], [IdBacSi], [Ngay], [Gio], [TrangThai], [NgayTao], [NgayHuy], [LyDoHuy], [NguoiHuy], [LyDoKham], [PhieuKham]) VALUES (1, 1, 1, CAST(N'2025-11-21' AS Date), CAST(N'08:00:00' AS Time), N'Đã hủy', CAST(N'2025-11-19T14:55:32.350' AS DateTime), CAST(N'2025-11-19T15:07:10.530' AS DateTime), N'Bệnh nhân bận', N'BenhNhan', NULL, N'PK-01-20251121-001')
INSERT [dbo].[LichHen] ([IdLichHen], [IdBenhNhan], [IdBacSi], [Ngay], [Gio], [TrangThai], [NgayTao], [NgayHuy], [LyDoHuy], [NguoiHuy], [LyDoKham], [PhieuKham]) VALUES (2, 2, 1, CAST(N'2025-11-21' AS Date), CAST(N'09:00:00' AS Time), N'Đã khám', CAST(N'2025-11-19T14:55:32.350' AS DateTime), NULL, NULL, NULL, NULL, N'PK-01-20251121-002')
INSERT [dbo].[LichHen] ([IdLichHen], [IdBenhNhan], [IdBacSi], [Ngay], [Gio], [TrangThai], [NgayTao], [NgayHuy], [LyDoHuy], [NguoiHuy], [LyDoKham], [PhieuKham]) VALUES (3, 3, 3, CAST(N'2025-11-24' AS Date), CAST(N'08:00:00' AS Time), N'Đã khám', CAST(N'2025-11-19T14:55:32.350' AS DateTime), NULL, NULL, NULL, NULL, N'PK-03-20251124-001')
SET IDENTITY_INSERT [dbo].[LichHen] OFF
GO
SET IDENTITY_INSERT [dbo].[SMS_Log] ON 

INSERT [dbo].[SMS_Log] ([Id], [SoDienThoai], [NoiDung], [NgayGui], [TrangThai], [IdLichHen], [LoaiSMS]) VALUES (1, N'0912233445', N'Xác nhận: Bạn đã đặt lịch khám lúc 09:00 ngày 21/11/2025', CAST(N'2025-11-21T13:59:35.183' AS DateTime), N'Đã gửi', 2, N'Xác nhận đặt lịch')
INSERT [dbo].[SMS_Log] ([Id], [SoDienThoai], [NoiDung], [NgayGui], [TrangThai], [IdLichHen], [LoaiSMS]) VALUES (2, N'0901122334', N'Phòng khám trân trọng nhắc lịch: Anh/Chị có lịch khám vào ngày mai.', CAST(N'2025-11-21T14:06:55.850' AS DateTime), N'Đã gửi', NULL, N'Từ Thông Báo')
INSERT [dbo].[SMS_Log] ([Id], [SoDienThoai], [NoiDung], [NgayGui], [TrangThai], [IdLichHen], [LoaiSMS]) VALUES (3, N'0912233445', N'Bác sĩ gửi thông tin cập nhật hồ sơ.', CAST(N'2025-11-21T14:06:55.850' AS DateTime), N'Đã gửi', NULL, N'Từ Thông Báo')
SET IDENTITY_INSERT [dbo].[SMS_Log] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([Id], [Email], [MatKhau], [VaiTro], [IdBenhNhan], [IdBacSi], [TrangThai]) VALUES (1, N'admin@clinic.com', N'123', N'Admin', NULL, NULL, 1)
INSERT [dbo].[TaiKhoan] ([Id], [Email], [MatKhau], [VaiTro], [IdBenhNhan], [IdBacSi], [TrangThai]) VALUES (8, N'binh.dnk@clinic.com', N'123', N'BacSi', NULL, 6, 1)
INSERT [dbo].[TaiKhoan] ([Id], [Email], [MatKhau], [VaiTro], [IdBenhNhan], [IdBacSi], [TrangThai]) VALUES (9, N'an.dnk@clinic.com', N'123', N'BacSi', NULL, 7, 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([IdThongBao], [IdBenhNhan], [NoiDung], [NgayTao], [DaDoc], [NgayGui], [DaXem]) VALUES (1, 1, N'Phòng khám trân trọng nhắc lịch: Anh/Chị có lịch khám vào ngày mai.', CAST(N'2025-11-19T14:56:03.083' AS DateTime), 0, NULL, 0)
INSERT [dbo].[ThongBao] ([IdThongBao], [IdBenhNhan], [NoiDung], [NgayTao], [DaDoc], [NgayGui], [DaXem]) VALUES (2, 2, N'Bác sĩ gửi thông tin cập nhật hồ sơ.', CAST(N'2025-11-19T14:56:03.083' AS DateTime), 0, NULL, 0)
INSERT [dbo].[ThongBao] ([IdThongBao], [IdBenhNhan], [NoiDung], [NgayTao], [DaDoc], [NgayGui], [DaXem]) VALUES (3, 1, N'Phòng khám xin thông báo: Lịch khám của Anh/Chị đã được hủy. Vui lòng liên hệ phòng khám để đặt lại lịch khi thuận tiện.', CAST(N'2025-11-19T15:06:13.177' AS DateTime), 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([Id], [TieuDe], [MoTaNgan], [LoaiTin], [NgayDang], [NoiDung], [TrangThai]) VALUES (1, N'Thông báo lịch nghỉ Tết Nguyên Đán 2026 của DNK Clinic', N'Lịch nghỉ Tết 2026 và thời gian hoạt động trở lại để bệnh nhân chủ động đặt lịch.', N'Thông báo', CAST(N'2025-12-11T12:58:44.570' AS DateTime), N'DNK Clinic thông báo lịch nghỉ Tết Nguyên Đán 2026. Phòng khám sẽ tạm ngưng hoạt động từ ngày 06/02/2026 đến ngày 14/02/2026. Hoạt động trở lại vào 15/02/2026. Kính chúc quý khách năm mới an khang, nhiều sức khỏe.', 1)
INSERT [dbo].[TinTuc] ([Id], [TieuDe], [MoTaNgan], [LoaiTin], [NgayDang], [NoiDung], [TrangThai]) VALUES (2, N'Chương trình ưu đãi khám sức khỏe đầu năm 2026', N'Giảm giá lên tới 25% cho các gói khám tổng quát từ tháng 1 đến tháng 3/2026.', N'Tin tức', CAST(N'2025-12-11T12:58:46.280' AS DateTime), N'Nhằm tri ân khách hàng, DNK Clinic triển khai chương trình ưu đãi đầu năm 2026. Các gói khám tổng quát được giảm từ 15% đến 25%. Đặt lịch online để nhận ưu đãi nhanh nhất.', 1)
INSERT [dbo].[TinTuc] ([Id], [TieuDe], [MoTaNgan], [LoaiTin], [NgayDang], [NoiDung], [TrangThai]) VALUES (3, N'7 dấu hiệu cảnh báo sức khỏe cần khám ngay trong năm mới', N'Những dấu hiệu quan trọng mà bệnh nhân không nên bỏ qua.', N'Kiến thức sức khỏe', CAST(N'2025-12-11T12:58:46.280' AS DateTime), N'Đầu năm là thời điểm nhiều người kiểm tra sức khỏe tổng quát. Một số dấu hiệu như đau ngực, sụt cân nhanh, chóng mặt kéo dài… là lời cảnh báo cơ thể cần được thăm khám ngay.', 1)
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BenhNhan_SDT]    Script Date: 12/16/2025 1:30:26 PM ******/
ALTER TABLE [dbo].[BenhNhan] ADD  CONSTRAINT [UQ_BenhNhan_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534FCA4AF05]    Script Date: 12/16/2025 1:30:26 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BenhNhan] ADD  CONSTRAINT [DF_BenhNhan_CoTaiKhoan]  DEFAULT ((0)) FOR [CoTaiKhoan]
GO
ALTER TABLE [dbo].[HuyLichLog] ADD  DEFAULT (getdate()) FOR [NgayHuy]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (N'Đã đặt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SMS_Log] ADD  CONSTRAINT [DF__SMS_Log__NgayGui__6FE99F9F]  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[SMS_Log] ADD  CONSTRAINT [DF__SMS_Log__TrangTh__70DDC3D8]  DEFAULT (N'Đã gửi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaXem]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BacSi_LichLamViec]  WITH CHECK ADD FOREIGN KEY([IdBacSi])
REFERENCES [dbo].[BacSi] ([IdBacSi])
GO
ALTER TABLE [dbo].[BacSi_NgayNghi]  WITH CHECK ADD FOREIGN KEY([IdBacSi])
REFERENCES [dbo].[BacSi] ([IdBacSi])
GO
ALTER TABLE [dbo].[HuyLichLog]  WITH CHECK ADD FOREIGN KEY([IdBacSi])
REFERENCES [dbo].[BacSi] ([IdBacSi])
GO
ALTER TABLE [dbo].[HuyLichLog]  WITH CHECK ADD  CONSTRAINT [FK__HuyLichLo__IdBen__3F466844] FOREIGN KEY([IdBenhNhan])
REFERENCES [dbo].[BenhNhan] ([IdBenhNhan])
GO
ALTER TABLE [dbo].[HuyLichLog] CHECK CONSTRAINT [FK__HuyLichLo__IdBen__3F466844]
GO
ALTER TABLE [dbo].[HuyLichLog]  WITH CHECK ADD FOREIGN KEY([IdLichHen])
REFERENCES [dbo].[LichHen] ([IdLichHen])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD FOREIGN KEY([IdBacSi])
REFERENCES [dbo].[BacSi] ([IdBacSi])
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK__LichHen__IdBenhN__398D8EEE] FOREIGN KEY([IdBenhNhan])
REFERENCES [dbo].[BenhNhan] ([IdBenhNhan])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK__LichHen__IdBenhN__398D8EEE]
GO
ALTER TABLE [dbo].[SMS_Log]  WITH CHECK ADD  CONSTRAINT [FK_SMS_LichHen] FOREIGN KEY([IdLichHen])
REFERENCES [dbo].[LichHen] ([IdLichHen])
GO
ALTER TABLE [dbo].[SMS_Log] CHECK CONSTRAINT [FK_SMS_LichHen]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_BacSi] FOREIGN KEY([IdBacSi])
REFERENCES [dbo].[BacSi] ([IdBacSi])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_BacSi]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_BenhNhan] FOREIGN KEY([IdBenhNhan])
REFERENCES [dbo].[BenhNhan] ([IdBenhNhan])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_BenhNhan]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK__ThongBao__IdBenh__34C8D9D1] FOREIGN KEY([IdBenhNhan])
REFERENCES [dbo].[BenhNhan] ([IdBenhNhan])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK__ThongBao__IdBenh__34C8D9D1]
GO
/****** Object:  StoredProcedure [dbo].[SP_DaKham]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DaKham]
    @IdLichHen INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM LichHen WHERE IdLichHen = @IdLichHen)
    BEGIN
        RAISERROR(N'Lịch hẹn không tồn tại.', 16, 1);
        RETURN;
    END

    UPDATE LichHen
    SET TrangThai = N'Đã khám'
    WHERE IdLichHen = @IdLichHen;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyBenhNhan]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[SP_DangKyBenhNhan]
    @HoTen NVARCHAR(100),
    @NgaySinh DATE,
    @GioiTinh NVARCHAR(10),
    @DiaChi NVARCHAR(200),
    @SDT VARCHAR(20),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TaiKhoan WHERE Email = @Email)
    BEGIN
        RAISERROR(N'Email đã tồn tại!', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM BenhNhan WHERE SDT = @SDT)
    BEGIN
        RAISERROR(N'Số điện thoại đã được sử dụng!', 16, 1);
        RETURN;
    END

    INSERT INTO BenhNhan (HoTen, NgaySinh, GioiTinh, DiaChi, SDT, Email)
    VALUES (@HoTen, @NgaySinh, @GioiTinh, @DiaChi, @SDT, @Email);

    DECLARE @IdBenhNhan INT = SCOPE_IDENTITY();

    INSERT INTO TaiKhoan (Email, MatKhau, VaiTro, IdBenhNhan)
    VALUES (@Email, @MatKhau, 'User', @IdBenhNhan);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GuiSMS_TuThongBao]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GuiSMS_TuThongBao]
AS
BEGIN
    INSERT INTO SMS_Log(SoDienThoai, NoiDung, LoaiSMS)
    SELECT 
        bn.SDT,
        tb.NoiDung,
        N'Từ Thông Báo'
    FROM ThongBao tb
    JOIN BenhNhan bn ON tb.IdBenhNhan = bn.IdBenhNhan
    WHERE tb.DaXem = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GuiThongBao_NhacLich]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GuiThongBao_NhacLich]
AS
BEGIN
    DECLARE @NgayMai DATE = DATEADD(DAY, 1, CAST(GETDATE() AS DATE));

    INSERT INTO ThongBao(IdBenhNhan, NoiDung, NgayTao, NgayGui)
    SELECT 
        lh.IdBenhNhan,
        N'Phòng khám trân trọng nhắc lịch: Anh/Chị có lịch khám vào ngày '
            + CONVERT(VARCHAR(10), lh.Ngay, 103)
            + N' lúc '
            + CONVERT(VARCHAR(5), lh.Gio, 108)
            + N'. Kính mong Anh/Chị đến đúng giờ.',
        GETDATE(),
        GETDATE()
    FROM LichHen lh
    WHERE lh.Ngay = @NgayMai
      AND lh.TrangThai = N'Đã đặt';
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_HuyLich]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_HuyLich]
    @IdLichHen INT,
    @LyDo NVARCHAR(255),
    @Nguoi NVARCHAR(20)
AS
BEGIN
    DECLARE @BN INT, @BS INT, @Ngay DATETIME;

    SELECT 
        @BN = IdBenhNhan,
        @BS = IdBacSi,
        @Ngay = CAST(Ngay AS DATETIME) + CAST(Gio AS DATETIME)
    FROM LichHen WHERE IdLichHen = @IdLichHen;

    IF @BN IS NULL
    BEGIN
        RAISERROR(N'Lịch hẹn không tồn tại.', 16, 1);
        RETURN;
    END

    UPDATE LichHen
    SET TrangThai = N'Đã hủy',
        LyDoHuy = @LyDo,
        NguoiHuy = @Nguoi,
        NgayHuy = GETDATE()
    WHERE IdLichHen = @IdLichHen;

    INSERT INTO HuyLichLog(IdLichHen, IdBenhNhan, IdBacSi, Ngay, LyDo)
    VALUES(@IdLichHen, @BN, @BS, @Ngay, @LyDo);

    IF @Nguoi = N'BenhNhan'
    BEGIN
        INSERT INTO ThongBao(IdBenhNhan, NoiDung)
        VALUES(
            @BN,
            N'Phòng khám xin thông báo: Lịch khám của Anh/Chị vào lúc '
            + FORMAT(@Ngay, 'HH:mm')
            + N' ngày ' + FORMAT(@Ngay, 'dd/MM/yyyy')
            + N' đã được hủy theo yêu cầu.'
        );
    END
    ELSE
    BEGIN
        INSERT INTO ThongBao(IdBenhNhan, NoiDung)
        VALUES(
            @BN,
            N'Phòng khám xin thông báo: Lịch khám của Anh/Chị vào lúc '
            + FORMAT(@Ngay, 'HH:mm')
            + N' ngày ' + FORMAT(@Ngay, 'dd/MM/yyyy')
            + N' đã được hủy. Lý do: ' + @LyDo
        );
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_SMS_NhacLich]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SMS_NhacLich]
AS
BEGIN
    DECLARE @NgayMai DATE = DATEADD(DAY, 1, CAST(GETDATE() AS DATE));

    INSERT INTO SMS_Log(SoDienThoai, NoiDung, LoaiSMS, IdLichHen)
    SELECT 
        bn.SDT,
        N'Nhắc lịch: Bạn có lịch khám vào ngày ' 
        + CONVERT(VARCHAR(10), lh.Ngay, 103)
        + N' lúc ' + CONVERT(VARCHAR(5), lh.Gio, 108),
        N'Nhắc lịch',
        lh.IdLichHen
    FROM LichHen lh
    JOIN BenhNhan bn ON lh.IdBenhNhan = bn.IdBenhNhan
    WHERE lh.Ngay = @NgayMai
      AND lh.TrangThai = N'Đã đặt';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TuDongCapNhatDaKham]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TuDongCapNhatDaKham]
AS
BEGIN
    UPDATE LichHen
    SET TrangThai = N'Đã khám'
    WHERE TrangThai = N'Đã đặt'
      AND CAST(Ngay AS DATETIME) + CAST(Gio AS DATETIME) < GETDATE();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TuDongDanhDauDaKham]    Script Date: 12/16/2025 1:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TuDongDanhDauDaKham]
AS
BEGIN
    UPDATE LichHen
    SET TrangThai = N'Đã khám'
    WHERE TrangThai NOT IN (N'Đã hủy', N'Đã khám')
      AND (
            Ngay < CAST(GETDATE() AS DATE)
            OR (
                Ngay = CAST(GETDATE() AS DATE)
                AND Gio < CAST(GETDATE() AS TIME)
            )
          );
END;
GO
